
<div class="container">
  <div class="row">
	    <div class="column col-md-4 col-sm-6">
	      <p><b>Feedback Title</b></p>
	    </div>
	    <div class="column col-md-4 col-sm-2">
	      <p><b>TITLE</b></p>
	    </div>
    </div>

      <div class="row">
	    <div class="column col-md-4 col-sm-6">
	      <p><b>Project Name</b></p>
	    </div>
	    <div class="column col-md-4 col-sm-2">
	      <p><b>*****NAME*****</b></p>
	    </div>
    </div>

      <div class="row">
	    <div class="column col-md-4 col-sm-6">
	      <p><b>Application Name</b></p>
	    </div>
	    <div class="column col-md-4 col-sm-2">
	      <p><b>******Application Name ******</b></p>
	    </div>
    </div>

      <div class="row">
	    <div class="column col-md-4 col-sm-6">
	      <p><b>Application Component</b></p>
	    </div>
	    <div class="column col-md-4 col-sm-2">
	      <p><b>******COMP*********</b></p>
	    </div>
    </div>

    <div class="row">
	    <div class="column col-md-4 col-sm-6">
	      <p><b>Feedback</b></p>
	    </div>
    </div>
    <div class="row">
	    <div class="column col-md-8 col-sm-6">
	      <p><b>egistration in a browser we’re going to add a bit of polish common in web applications: a message that appears on the subsequent page (in this case, welcoming our new user to the application) and then disappears upon visiting a second page or on page reload.</b></p>
	    </div>
    </div>

  </div>
