<footer class="footer">
  <center><small>
    <a href="http://www.siemens.com/in/en/home.html">Siemens India Website</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    © Siemens Ltd., 1996 – 2017 <a href="http://www.siemens.co.in/en/footer/index/corporate_information.htm">Corporate Information
    </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href= 'http://www.siemens.co.in/en/footer/index/privacy_policy.htm'>Privacy Policy</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href= 'http://www.siemens.com/corp/en/index/siemens_ag_cookie_policy.htm'>Cookie Policy</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href= 'http://www.siemens.co.in/en/footer/terms_of_use.htm'>Terms of use</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href= 'http://www.siemens.com/corp/en/index/digital_id.htm'>Digital ID</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  </small></center>
</footer>

         